.form {
  /* display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 3rem; */
}

.form__result {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 70px 0 0;
}

.form__amount {
  font-size: var(--text-2xl);
  font-weight: 600;
  color: var(--clr-black-100);
}

.form__rate {
  font-size: var(--text-base);
  font-weight: 400;
  color: var(--clr-dark-gray-100);
}

.form__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__popover {
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: 36px;
  color: var(--clr-black-100);
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--clr-light-blue-10);
  box-shadow: 0px 2px 4px 0px var(--clr-black-5);
}

.form__credits {
  font-size: var(--text-xs);
  padding-top: 13px;
}

@media (max-width: 768px) {
  .form {
    /* grid-template-columns: repeat(1, auto);
    gap: 1rem; */
  }

  .form__amount {
    font-size: var(--text-xl);
  }

  .form__result {
    grid-template-columns: 1fr;
    padding: 16px 0 12px 0;
  }

  .form__info {
    display: none;
  }
}
