.card {
  grid-area: content;

  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    'column-left title column-right'
    'column-left form column-right'
    'column-left form column-right'
    'column-left footer column-right';
  place-items: center;
}

.card__banner {
  grid-column: column-left / column-right;
  grid-row: 1 / 3;

  background-color: var(--clr-light-blue-100);
  width: 100%;
  height: 100%;
}

.card__title {
  grid-area: title;

  z-index: 1;
  text-align: center;
  padding: 63px 0 72px;
}

.card__title h2 {
  font-size: var(--text-2xl);
  color: var(--clr-white-100);
  font-weight: 600;
}

.card__content {
  grid-area: form;

  background-color: var(--clr-white-100);
  border-radius: 8px;
  box-shadow: var(--box-shadow-10);
  padding: 2rem;
  max-width: 1126px;
}

.card__footer {
  grid-area: footer;
  justify-self: self-start;
}

.card__footer .footer__content {
  display: none;
}

@media (width <= 768px) {
  .card {
    grid-template-columns: 1fr minmax(311px, 4fr) 1fr;
  }

  .card__title {
    padding: 30px 0 35px;
  }

  .card__footer .footer__content {
    display: block;
  }
}
