.card {
  grid-area: content;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(4, auto);
}

.card__banner {
  background-color: var(--clr-light-blue-100);
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.card__banner div {
  grid-column: 2 / 3;
}

.card__title {
  margin: 0;
  color: var(--clr-white-100);
  font-size: var(--text-2xl);
  font-weight: 600;
  padding-block: 3rem;
}

.card__content {
  background-color: var(--clr-white-100);
  border-radius: 8px;
  box-shadow: var(--box-shadow-10);
  padding: 2rem;

  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.card__footer {
  display: none;
}

@media (width <= 768px) {
  .card__footer {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .card__footer div {
    grid-column: 2 / 3;
  }
}
