.select__container {
  display: grid;
  grid-template-columns: auto 1rem 1rem;
  position: relative
}

.select {
  font-family: var(--ff-primary);
  font-size: var(--text-base);
  font-weight: 600;
  color: var(--clr-dark-blue-100);
  background-color: var(--clr-white-100);
  border: 1px solid var(--clr-light-gray-100);
  border-radius: 4px;
  padding: 10px 45px 10px 14px;
  cursor: pointer;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.select__chevron {
  pointer-events: none;
  cursor: pointer;
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  display: flex;
  place-content: center;
  place-items: center;
}

.select__chevron--down {
  padding: 6px;
  background-color: var(--clr-white-100);
}
